/*-- Start of content */
body{background-color: black;}



h1 {color:white;
    font-family: verdana;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    }


h2 {color:white;
    font-family: verdana;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    }


.guide p{color:gray;
         text-align:center;
         font-family;verdana;
        }

/* Hyperlink */
.download {color:aquamarine;
           text-align: center;
           font-size:16px;
          }


/* End of Content */



/* iPhone Streaming Video */
.discover video{display: block;
                margin-left: auto;
                margin-right: auto;
               }

/* Tent Image */
.guide img{display: block;
           margin-left:auto;
           margin-right: auto;
          }

/* iPhone Image */
.coming img{display:block;
            position: absolute;
            margin-top: 130px;
            left: auto;
            right: auto;
           }



